<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Sitecore.Project.Pustaka" description="Pustaka Project Serialization" dependencies="Foundation.Serialization,Sitecore.Foundation.Tenant" patch:after="configuration[@name='Sitecore.Foundation.Tenant']">
					<targetDataStore physicalRootPath="C:\Kunal\Pustaka\Project\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

						<!--Content-->
						<include name="Project.Pustaka.Content" database="master" path="/sitecore/content/All Sites/Main Sites/Pustaka" />
						<include name="Project.Pustaka.Media" database="master" path="/sitecore/media library/Images" />
						<include name="Project.Pustaka.Templates" database="master" path="/sitecore/templates/Project/Pustaka" />

						<!--Layout-->
						<include name="Project.Pustaka.Layout" database="master" path="/sitecore/layout/Layouts/Project/Pustaka" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>