<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="Pustaka" patch:after="site[@name='modules_website']"
				  database="web"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/All Sites/Main Sites/Pustaka"
				  hostName="pustaka.sc.local"
				  startItem="/Home"
				  cacheHTML="false"
				  enablePreview="true"
				  enableEdit="true"
				  enableDebugger="true" />
		</sites>
	</sitecore>
</configuration>